[submodule "SenseNova-Vision"]
	path = SenseNova-Vision
	url = https://github.com/hundong2/SenseNova-Vision.git
[submodule "orca"]
	path = orca
	url = https://github.com/hundong2/orca.git
[submodule "Hands-On-AI-Engineering"]
	path = Hands-On-AI-Engineering
	url = https://github.com/hundong2/Hands-On-AI-Engineering.git
[submodule "tabfm"]
	path = tabfm
	url = https://github.com/hundong2/tabfm.git
[submodule "Unlimited-OCR"]
	path = Unlimited-OCR
	url = https://github.com/hundong2/Unlimited-OCR.git
[submodule "shepherd"]
	path = shepherd
	url = https://github.com/hundong2/shepherd.git
