[submodule "SenseNova-Vision"]
	path = SenseNova-Vision
	url = https://github.com/hundong2/SenseNova-Vision.git
[submodule "orca"]
	path = orca
	url = https://github.com/hundong2/orca.git
[submodule "Hands-On-AI-Engineering"]
	path = Hands-On-AI-Engineering
	url = https://github.com/hundong2/Hands-On-AI-Engineering.git
[submodule "tabfm"]
	path = tabfm
	url = https://github.com/hundong2/tabfm.git
[submodule "Unlimited-OCR"]
	path = Unlimited-OCR
	url = https://github.com/hundong2/Unlimited-OCR.git
[submodule "shepherd"]
	path = shepherd
	url = https://github.com/hundong2/shepherd.git
[submodule "transformer-explainer"]
	path = transformer-explainer
	url = https://github.com/hundong2/transformer-explainer.git
[submodule "TripoSplat"]
	path = TripoSplat
	url = https://github.com/hundong2/TripoSplat.git
[submodule "polka"]
	path = polka
	url = https://github.com/hundong2/polka.git
[submodule "graphify"]
	path = graphify
	url = https://github.com/hundong2/graphify.git
[submodule "detectron2"]
	path = detectron2
	url = https://github.com/hundong2/detectron2.git
[submodule "GOT-OCR2.0"]
	path = GOT-OCR2.0
	url = https://github.com/hundong2/GOT-OCR2.0.git
